<div class="wrap header-desctop">
	<div class="head line vertical-center">
		<div class="line vertical-center flex-nowrap">
			<a href="{% if app.request.get('section') != "index" %}{{ path("index") }}{% else %}#{% endif %}"><img
					class="site-logo" src="/public/images/ico/readys-logo.svg" alt="Rays Arma"/></a>
			<a href="{% if app.request.get('section') != "index" %}{{ path("index") }}{% else %}#{% endif %}"
			   class="depname">ИНДУСТРИАЛЬНАЯ<br>НЕДВИЖИМОСТЬ</a>
			{% if headerSubtitle is defined %}
				<span class="header-subtitle">{{ headerSubtitle }}</span>
			{% endif %}
		</div>
		<div class="dpmenu"></div>
		{% if "now"|getTimeJob() %}
			<div class="call disable">
				<div class="call__row">
					<i class="fa fa-phone"></i>
					<span class="call_phone_new1">
						<span class="ph">+7 495 <span class="red2"><b>{{ constant('PHONE') }}</b></span></span>
					</span>
				</div>
				<div class="clear"></div>
				<div class="time-job">Работаем с 9:00 до 20:00</div>
			</div>
		{% else %}
			<div class="call line vertical-center column">
				<div class="line horizontal-center vertical-center">
					<i class="fa fa-phone"></i>
					<span class="call_phone_new1">
						<a class="ph" href="tel:+7 (495) {{ constant('PHONE')|replace({".":" "}) }}">+7 495 <span
								class="red2"><b>{{ constant('PHONE') }}</b></span></a>
					</span>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div id="topmenu" class="topmenu header-desctop">
	<div class="wrap line">
		<div class="line horizontal-left">
			<div class="lmenu">
				<a href="{{ path('catalog',{deal_type: "rent"}) }}">Аренда</a>
			</div>
			<div class="lmenu">
				<a href="{{ path('catalog',{deal_type: "sale"}) }}">Продажа</a>
			</div>
			<div class="lmenu">
				<a href="{{ path('catalog',{deal_type: "otvetstvennoe-hranenie"}) }}">Ответ. хранение</a>
			</div>
			<div class="lmenu dropdown-menu">
				<a href="#" class="dropdown-menu__main">Эксклюзивы</a>
				<ul class="dropdown-menu__list">
					<li class="dropdown-menu__item lmenu">
						<a href="{{ path('exclusive', { name: "lytkarino" }) }}" class="dropdown-menu__link">
							Лыткарино Парк
						</a>
					</li>
					{#                    <li class="dropdown-menu__item lmenu"> #}
					{#                        <a href="{{ path('exclusive', { name: "golaz" }) }}" class="dropdown-menu__link">ГолАЗ</a> #}
					{#                    </li> #}
				</ul>
			</div>
			{# <div class="lmenu">
				<a href="" >Открытое хранение</a>
			</div>
			<div class="lmenu">
				<a href="">Земельные участки</a>
			</div>
			<div class="lmenu">
				<a href="">Строительство</a>
			</div>
			<div class="lmenu">
				<a href="">На карте</a>
			</div>
			<div class="lmenu">
				<a href="">Собственнику</a>
			</div> #}
		</div>
		<div class="lmenu right sandwich-desctop dropdown">
			<a class="" href="#">
				<span class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross"></span>
				<script type="text/javascript">
					new svgIcon(document.querySelector('.header-desctop .si-icon-hamburger-cross'), svgIconConfig, {
						easing: mina.elastic,
						speed: 600
					});
				</script>
			</a>
			<div class="active-dropdown">
				<div class="insdrpdwn">
					<a href="">О нас</a>
					<a href="">Контакты</a>
				</div>
			</div>
		</div>

	</div>
</div>