<ul id="lightSlider">
	{% for photo in photos %}
		<li>
			<div class="item" data-src="/photo/jk/{{ loc.getId }}/520/{{ photo.id }}.jpg">
    			<img class="lot-photo" data-size="520" src="/photo/jk/{{ loc.getId }}/520/{{ photo.id }}.jpg"  title="{{ h1 }}"  alt="{{ h1 }}"/>
  			</div>
		</li>	
	{% endfor %}
</ul>

<script type="text/javascript">
    $(document).ready(function() {
    	$("#lightSlider").lightSlider({
        	item: 1.5,
        	controls: false,
        	pager: false
        }); 
    	var $lg = $('#lightSlider');
    	$lg.lightGallery({
        	selector: '.item'
        }); 
    	
    });
</script>